.container {
  width: 70vw;
  /* border: 2px solid #9adbf8; */
  /* border-radius: 50px 0 50px 0; */
  margin: 2rem auto;
  padding: 3rem;
  /* background-color: #fff; */
  min-height: 88vh;
}

/* start head */
.head {
  height: 60px;
  display: flex;
}

.inpHead {
  width: 85%;
  border: none;
  border-right: 0px;
  border-radius: 3px 0 0 3px;
  padding: 0 1.5rem;
  outline: none;
  height: 100%;
  font-size: 1rem;
}

.btnHead {
  height: 100%;
  width: 15%;
  border-radius: 0px 3px 3px 0px;
  padding: 5px;
  border: none;
  /* border: 1px solid var(--main-color); */
  /* color: var(--main-color); */
  border-left: 0px;
  background: #9a622d;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
}


/* start lists */

.lists {
  margin-top: 10px;
}

.listItem {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-radius: 3px;
  padding: 3px 3px 3px 1.5rem;
  min-height: 45px;
  background-color: #fff;
  box-shadow: 0px 5px 10px #9a622d;
}

.btnEdit,
.btnDelete,
.btnUpdate,
.btnCancel {
  border: 1px solid #217221;
  color: #217221;
  background: none;
  padding: 8px 1.3rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border-radius: 3px;
  margin: 3px;
}

.btnDelete {
  border: 1px solid #c43636;
  color: #c43636;
}

.btnUpdate {
  border: 1px solid #317dbb;
  color: #317dbb;
}

.btnCancel {
  border: 1px solid #9972d8;
  color: #9972d8;
}

.feather {
  width: 300px;
  position: fixed;
  top: 50%;
  z-index: -1;
}

p,
.inpHead,
.inpHead::placeholder {
  text-transform: capitalize;
  color: #9A622D;
  font-weight: bold;
  letter-spacing: 1px;
}

button {
  cursor: pointer;
}

.span-error {
  display: flex;
  color: #fff;
  background-color: #c43636;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 1.5rem;
  margin-top: 10px;
}

.attach {
  width: 30px;
  display: none;
  transform: rotate(14deg);
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lineThrough {
  text-decoration: line-through;
}

.inpUpdate {
  padding: 5px 10px;
  border: 1px solid #9A622D;
  border-radius: 6px;
}
input[type="checkbox"]{
  margin-right: 8px;
}