@media screen and (max-width: 991.98px) {

  p,
  .inpHead,
  .inpHead::placeholder,
  .btnHead {
    font-size: 14px;
  }

  .head {
    height: 50px;
  }

  .listItem {
    min-height: 40px;
  }

  .btnEdit,
  .btnDelete,
  .btnUpdate,
  .btnCancel {
    font-size: 12px;
    padding: 6px 1rem;
  }
}

@media screen and (max-width: 767.98px) {
  .container {
    width: 80vw;
    padding: 2rem;
  }

  p,
  .inpHead,
  .inpHead::placeholder,
  .btnHead {
    font-size: 13px;
  }

  .head {
    height: 40px;
  }

  .btnHead {
    width: 25%;
  }

  .btnEdit,
  .btnDelete,
  .btnUpdate,
  .btnCancel {
    font-size: 12px;
    padding: 8px 1rem;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .listItem {
    padding: 1rem 1.5rem;
  }

  p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .btnEdit,
  .btnDelete,
  .btnUpdate,
  .btnCancel {
    font-size: 8px;
    padding: 5px 1rem;
  }

  .feather {
    display: none;
  }

  .attach {
    display: block;
  }

  .span-error {
    font-size: 10px;
  }
}

@media screen and (max-width: 575.98px) {
  .container {
    width: 90vw;
    padding: 0 1rem;
  }

  .attach {
    width: 20px;
    transform: rotate(14deg);
  }

  .btnHead {
    font-size: 12px;
  }
}